<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>10175455130-nq2civ2lbdu7165kh1hcnjin9pl3ele0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.10175455130-nq2civ2lbdu7165kh1hcnjin9pl3ele0</string>
	<key>API_KEY</key>
	<string>AIzaSyARCjgKoI1o1v9V6sHwFuqah61MgqmY1KI</string>
	<key>GCM_SENDER_ID</key>
	<string>10175455130</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iniongungroup.mobile.ios.Tiv-Bible</string>
	<key>PROJECT_ID</key>
	<string>tiv-bible</string>
	<key>STORAGE_BUCKET</key>
	<string>tiv-bible.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:10175455130:ios:44b21a756680644fb72423</string>
	<key>DATABASE_URL</key>
	<string>https://tiv-bible.firebaseio.com</string>
</dict>
</plist>